p {
    margin: 0em;
  }

body {
    background: url("https://media.dnd.wizards.com/styles/story_banner/public/images/head-banner/04-PRODUCT-INFO_Tabletop_Hero_MM.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
      
    text-align: center;
    padding-top: 15%;
    margin-left: 25%;
    margin-right: 25%;
}
table, th, td {
    border: 1px solid black;
  }

div.transbox {
    margin: 25px;
    background-color: #ff0101;
    opacity: 0.6;
  }

button{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: #ff0101;
    align-content: center;
    border: solid black 1px;
    border: none;
    color: rgb(8, 1, 1);
    padding: 30px;
    text-decoration: none;
    border-radius: 12px;
    font-size: 30px;
    opacity: 0.9;
}
  

.topcorner{
    position:absolute;
    top:0;
    right:0;
   }

.infobox{
    position: absolute;
    text-align: left;
    flex: 1;
    background-color: #ffffff;
    left: 1000px;
    top: 120px;
    width: 600px;
    height: 800px;
    padding: 0px;
    border: 0px;
    border-radius: 14px; 
    opacity: 0.8;
    font-size: small;
}
.monsterimage{
    position: absolute;
    padding: 30px;
    left: 200px;
    top: 50px;
    width: 600px;
    height:850px;
    border: 0px;
    background-size: 100%;
}

img {
    width: 100%;
    height: 100%;
}

input {
    margin: 4px;
}

 /* #hit_points {
    display:inline-block;
    width:10px;
    height:5px;
} 
#damage {
    display:inline-block;
    width:10px;
    height:5px;
} 
 
 #HPbutton{
    display:inline-block;
    width:10px;
    height:5px;
}    */

